{% macro nav_item(item, current_item) %}
    {% set slugParts = current_item|split('/') %}
    {% set root = slugParts|first %}
    {% set currentRootMenu = (item.slug == root) %}
    <li class="nav-item">
        <a class="nav-link{% if currentRootMenu %} active{% endif %}"
           href="{{ path_for_page(item.slug) }}">
            {{ item.title }} {% if currentRootMenu %}<span class="sr-only">(current)</span>{% endif %}
        </a>
    {% if currentRootMenu and item.children|length > 0 %}
       {{ _self.sub_item(item, current_item) }}
    {% endif %}
    </li>
{% endmacro %}

{% macro sub_item(item, current_item) %}
    <ul>
        {% for submenu_item in item.children %}
            {% set currentSubMenu = submenu_item.slug in current_item %}
            <li class="nav-item">
                <a class="nav-link{% if currentSubMenu %} active{% endif %}"
                   href="{{ path_for_page(submenu_item.slug) }}">
                    {{ submenu_item.title }} {% if currentSubMenu %}<span class="sr-only">(current)</span>{% endif %}
                </a>

                {% if currentSubMenu %}
                    {{ _self.sub_item(submenu_item, current_item) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
